{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Django R2{% endblock %}</title>
    {% block extra_head %}{% endblock %}

    {% for css_file in django_r2_css_files %}
        <link rel="stylesheet" href="{% static css_file %}">
    {% endfor %}

   
</head>
<body>
    {% block content %}{% endblock %}

    {% for js_file in django_r2_upload_js_files %}
        <script src="{% static js_file %}" defer></script>
    {% endfor %}
</body>
</html>
